<h2>CONTACTO</h2>
<nav>
    <ul>
        <li><a href="/">INICIO</a></li>
        <li><a href="/nosotros">NOSOTROS</a></li>
        <li><a href="/novedades">NOVEDADES</a></li>
        <li><a href="/galeria">GALERIA</a></li>
        <li><a href="/contacto">CONTACTO</a></li>
    </ul>
</nav>
        <div>
            <h2>Contacto Rápido</h2>
            <form action="" method="" >
                <p>
                    <label for="">Nombre</label>
                    <input type="text" />                    
                </p>
                <p>
                    <label for="">Email</label>
                    <input type="email" />
                </p>
                <p>
                    <label for="">Telefono</label>
                    <input type="text" />
                </p>
                <p>
                    <label for="comentario">Comentario</label>
                    <textarea id="comentario"></textarea>      
                </p>
                <p >
                    <input type="submit" value="Enviar"/>
                </p>
            </form>
        </div>
        <div>
            <h2>Otras vias de contacto</h2>
            <p>Tambien se pueden comunicar con nosotros </p>
            <ul>
                <li>Telefono: +54-291-7455555</li>
                <li>Email: contacto@turismoluna.com.ar</li>
                <li>Facebook:turismoluna</li>
                <li>Instagram: @turismoluna</li>
            </ul>
        </div>
    