
<h2>GALERIA</h2>
<nav>
    <ul>
        <li><a href="/">INICIO</a></li>
        <li><a href="/nosotros">NOSOTROS</a></li>
        <li><a href="/novedades">NOVEDADES</a></li>
        <li><a href="/galeria">GALERIA</a></li>
        <li><a href="/contacto">CONTACTO</a></li>
    </ul>
</nav>
<P>IMAGEN 1</P>
<P>IMAGEN 2</P>
<P>IMAGEN 3</P>
<P>IMAGEN 4</P>
<P>IMAGEN 5</P>
<P>IMAGEN 6</P>